<?xml version="1.0" encoding="utf-8"?>
<widget 
	xmlns="http://www.w3.org/ns/widgets"
	xmlns:rim="http://www.blackberry.com/ns/widgets"  
	rim:header="RIM-Widget:rim/widget" 
	xml:lang="en"
	id="fileAPI" 
	version="1.0.0.0">
	
	<name>File API</name>
	<description>File API Sample.</description>
	<author 
		href="https://scrapps.org"
		rim:copyright="Copyright 2009-2013 SCrApps">
		SCrApps
	</author>

	<icon src="images/icon.png" />
	
	<content src="index.html" />

	<access uri="*" subdomains="true" />
	

	<feature id="blackberry.invoke" /> <!-- This is just for invoking the browser and not needed for the file API. -->
	<feature id="blackberry.invoke.card" />
	<feature id="blackberry.io" />
	<feature id="blackberry.ui.toast" />
	<feature id="blackberry.app">
		<param name="orientation" value="portrait" />
		<param name="backgroundColor" value="0xFF252525" />
	</feature>

	<rim:permissions>
		<rim:permit>access_shared</rim:permit>
	</rim:permissions>

</widget>